body {
	text-align: center;
	font-family: monospace;
	color: #000;
}

header {
	background-color: #000;
	border: 0.5em double #fff;
	color: #fff;
	padding: 3em;
	width: min-content;
	margin: auto;
}

header img {
	width: 5em;
}

.post {
	border: 2px solid #000;
	width: 50vw;
	margin: 5em auto;
}
